<div class="container px-4 py-0" id="icon-grid">
  <div class="row">
    <div class="col-sm">
      <div class="d-md-flex">
        <div
          class="overflow-scroll mb-3 mb-md-0 mr-md-3"
          style="min-width: 50%; max-height: 500px; white-space: nowrap"
        >
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <label>
                <input
                  data-index="0"
                  name="id"
                  type="radio"
                  value="0"
                  (click)="setParent(node)"
                />
                <span></span>
              </label>
              {{ node.item }}
            </mat-tree-node>
            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.item"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>
              <label>
                <input
                  data-index="0"
                  name="id"
                  type="radio"
                  value="0"
                  (click)="setParent(node)"
                />
                <span></span>
              </label>
              {{ node.item }}
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <form
        name="setForm"
        class="row g-3 needs-validation"
        novalidate
        #f="ngForm"
      >
        <div class="col-md-2">
          <label for="validationCustom01" class="form-label"
            >Parent set id</label
          >
          <input
            type="text"
            class="form-control text-center"
            disabled
            id="parentSetId"
            name="id"
            required
            [(ngModel)]="setForm.id"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-8">
          <label for="validationCustom02" class="form-label"
            >Parent set name</label
          >
          <input
            type="text"
            class="form-control"
            id="parentSetName"
            name="title"
            required
            [(ngModel)]="setForm.title"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-2">
          <label for="validationCustom03" class="form-label">Parent</label>
          <button
            class="btn btn-outline-success"
            type="button"
            (click)="saveParent()"
          >
            Save
          </button>
        </div>
        <div class="col-md-10">
          <label for="validationCustom03" class="form-label">Set name</label>
          <input
            type="text"
            class="form-control"
            id="children"
            name="children"
            required
            [(ngModel)]="setForm.children"
          />
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>
        <div class="col-2">
          <label for="validationCustom03" class="form-label">New set</label>
          <button
            class="btn btn btn-outline-warning"
            type="button"
            (click)="saveChild()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
