<div class="container px-4 py-0" id="icon-grid">
  <div class="row">
    <div class="col-sm">
      <div class="d-md-flex">
        <div
          class="overflow-scroll mb-3 mb-md-0 mr-md-3"
          style="min-width: 50%; max-height: 500px; white-space: nowrap"
        >
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.item"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>
              <label>
                <input
                  data-index="0"
                  name="id"
                  type="radio"
                  value="0"
                  (click)="setParent(node)"
                />
              </label>
              {{ node.item }}
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <form
        name="setForm"
        class="row g-3 needs-validation"
        novalidate
        #f="ngForm"
      >
        <div class="col-md-2">
          <input
            type="text"
            class="form-control text-center"
            disabled
            id="parentSetId"
            placeholder="ID"
            name="id"
            required
            [(ngModel)]="setForm.id"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-7">
          <input
            type="text"
            class="form-control"
            id="parentSetName"
            name="title"
            placeholder="Set Title"
            required
            [(ngModel)]="setForm.title"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-outline-success w-100"
            type="button"
            (click)="changeTitle()"
          >
          <ng-container *ngIf="(changeState$ | async) as changeState">
            <span *ngIf="changeState.dataState === 'LOADING_STATE'" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
          </ng-container>           
            Save
          </button>
        </div>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="children"
            name="children"
            placeholder="Child Title"
            required
            [(ngModel)]="setForm.children"
          />
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-outline-warning w-100"
            type="button"
            (click)="saveChild()"
          >
          <ng-container *ngIf="(appState$ | async) as appState">
            <span *ngIf="appState.dataState === 'LOADING_STATE'" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
          </ng-container>          
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
