<div class="container px-4 py-1" id="icon-grid">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="home">Access Control Center Panel</a>
    </div>
  </nav>
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Users list</h5>
          <p class="card-text">Add user, Edit user</p>
          <a href="user" class="btn btn-outline-primary w-100"
            >Go to users list</a
          >
        </div>
      </div>
    </div>                        
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
    <div class="col d-flex align-items-start"></div>
  </div>
</div>
