<div class="container px-4 py-0" id="icon-grid">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="user">Users List</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#homeNavbar"
        aria-controls="#homeNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i-tabler name="menu2"></i-tabler>
      </button>
      <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="modalService.openModal('user',template,selectedUser)">
            <a class="nav-link active text-info" aria-current="page">
              <i-tabler name="edit"></i-tabler> Edit
            </a>
          </li>
        </ul>
      </div>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <ng-container
    *ngIf="appState$ | async as appState"
    [ngSwitch]="appState.dataState"
  >
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      <div class="col-md-12 single-note-item text-center">
        <div class="spinner-border text-info" role="status"></div>
      </div>
    </ng-container>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 table-responsive-xl"
    >
      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <table class="table table-sm" data-id-field="id">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Selected</th>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Set</th>
              <th scope="col">Create date</th>
              <th scope="col">Password changed</th>
              <th scope="col">Status</th>
              <th data-radio="true"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of appState.appData?.data?.appUsers; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td class="bs-checkbox">
                <label>
                  <input
                    [attr.data-index]="i"
                    name="id"
                    type="radio"
                    [attr.value]="user.id"
                    (click)="selectUser(user)"
                  />
                </label>
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.person.name + " " + user.person.family }}</td>
              <td>{{ user.defaultOrgSet.title }}</td>
              <td>{{ user.creationDate }}</td>
              <td>{{ user.changePassDate }}</td>
              <td>
                <span
                  class="badge rounded-pill"
                  [ngClass]="[
                    user.status === UserStatus.ACTIVE
                      ? 'bg-success'
                      : user.status === UserStatus.DEACTIVATE
                      ? 'bg-danger'
                      : 'bg-warning'
                  ]"
                  >{{ user.status }}</span
                >
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div class="col-md-12 single-note-item text-center">
        <div class="text-danger" role="status">Error...!</div>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #template>
  <div class="modal-header">
    <h1 class="modal-title h1" id="userModalLabel">User</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeUserModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3" name="selectedUser" #f="ngForm">
      <div class="col-md-3">
        <input
          type="text"
          placeholder="Username"
          class="form-control form-control-sm"
          id="username"
          name="username"
          [(ngModel)]="selectedUser.username"
          [readonly]="tableMode === TableMode.EDIT"
        />
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Person"
            class="form-control form-control-sm"
            id="perName"
            name="perName"
            [(ngModel)]="selectedUser.person.perName"
            [readonly]="tableMode === TableMode.EDIT"
          />
          <span
            class="input-group-text lookup"
            id="inputGroup-sizing-sm"
            (click)="openPersonModal(person)"
          >
            <i-tabler name="address-book"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Default set name"
            class="form-control form-control-sm"
            id="defaultOrgSet"
            name="defaultOrgSet"
            [(ngModel)]="selectedUser.defaultOrgSet.title"
          />
          <span class="input-group-text lookup" id="inputGroup-sizing-sm" (click)="modalService.openModal('chart',chart,selectedSet)">
            <i-tabler name="address-book"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <input
          type="password"
          placeholder="Password"
          class="form-control form-control-sm"
          id="password"
          name="password"
          [(ngModel)]="selectedUser.password"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          placeholder="Retype Password"
          class="form-control form-control-sm"
          id="retypePassword"
        />
      </div>
      <div class="col-md-3">
        <select id="inputState" class="form-select form-select-sm">
          <option
            *ngFor="let userStatus of userStatuses"
            [value]="userStatus"
            [selected]="userStatus === selectedUser.status"
          >
            {{ userStatusesMapping[userStatus] }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-sm btn-outline-primary w-100">
          Save
        </button>
      </div>
    </form>

    <div class="container px-4 py-0" id="icon-grid">
      <div
        _ngcontent-gob-c88=""
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 table-responsive-xl"
      >
        <table class="table table-sm" data-id-field="id">
          <thead>
            <tr>
              <th scope="col">
                <i-tabler
                  name="circle-plus"
                  class="text-info"
                  [hidden]="dtlTblMode === TableMode.INSERT"
                  (click)="insertDtl()"
                ></i-tabler>
                <i-tabler
                  name="circle-plus"
                  class="text-secondary"
                  [hidden]="dtlTblMode !== TableMode.INSERT"
                ></i-tabler>
              </th>
              <th scope="col">RoleName</th>
              <th scope="col">Priority</th>
              <th scope="col">Set</th>
              <th scope="col">Aassign Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of selectedUser.userRoles; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ role.appRole!.roleName }}</td>
              <td>{{ role.priority }}</td>
              <td>{{ role.orgSet.title }}</td>
              <td>{{ role.assignDate }}</td>
              <td>
                <i-tabler
                  name="trash"
                  class="text-danger"
                  (click)="deleteUserRole(selectedUser, role)"
                ></i-tabler>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-2">
      <div class="input-group input-group-sm"></div>
    </div>
    <div class="row g-3" [hidden]="dtlTblMode !== TableMode.INSERT">
      <div class="col-md-4">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Role"
            class="form-control form-control-sm"
            [(ngModel)]="newRole!.appRole!.roleName!"
            [disabled]="dtlTblMode !== TableMode.INSERT"
          />
          <span class="input-group-text lookup" id="inputGroup-sizing-sm">
            <i-tabler name="address-book" (click)="openRole(role)"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Set"
            class="form-control form-control-sm"
            [(ngModel)]="newRole!.orgSet!.title!"
            [disabled]="dtlTblMode !== TableMode.INSERT"
          />
          <span class="input-group-text lookup" id="inputGroup-sizing-sm">
            <i-tabler name="address-book" (click)="openChart(chart)"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Priority"
            class="form-control form-control-sm"
            [disabled]="dtlTblMode !== TableMode.INSERT"
          />
        </div>
      </div>
      <div class="col-md-2">
        <i-tabler
          name="Circle-Check"
          class="text-success"
          [hidden]="dtlTblMode !== TableMode.INSERT"
          (click)="addRoleToUser(selectedUser.id, newRole)"
        ></i-tabler>
        <i-tabler
          name="Square-X"
          class="text-warning"
          [hidden]="dtlTblMode !== TableMode.INSERT"
          (click)="canselInsertDtl()"
        ></i-tabler>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #person>
  <div class="modal-header">
    <h1 class="modal-title h1" id="userModalLabel">Person</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef2.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3">
      <div class="col-md-3">
        <input
          type="text"
          placeholder="Username"
          class="form-control form-control-sm"
          id="username"
        />
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="Person"
            class="form-control form-control-sm"
            id="person"
          />
          <span class="input-group-text lookup" id="inputGroup-sizing-sm">
            <i-tabler name="address-book"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            placeholder="User Name"
            class="form-control form-control-sm"
            id="username"
          />
          <span class="input-group-text lookup" id="inputGroup-sizing-sm">
            <i-tabler name="address-book"></i-tabler>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <input
          type="password"
          placeholder="Password"
          class="form-control form-control-sm"
          id="password"
        />
      </div>
      <div class="col-md-3">
        <input
          type="password"
          placeholder="Retype Password"
          class="form-control form-control-sm"
          id="retypePassword"
        />
      </div>
      <div class="col-md-3">
        <select id="inputState" class="form-select form-select-sm">
          <option value="DataState.ACTIVE" selected>Active</option>
          <option value="DataState.DEACTIVATE">Deactivate</option>
          <option value="DataState.SUSPEND">Susupend</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-sm btn-outline-primary w-100">
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #chart>
  <chart-view></chart-view>
</ng-template>

<ng-template #role>
  <role></role>
</ng-template>
