html,
body {
    height: 100%;
}

main {
    position: relative;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

li {
    cursor: pointer;
}

i-tabler{
    cursor: pointer;
}